<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UPortfolio</title>
</head>

<body>


<section>

    <div>
        <nav>
            <div>
                <div>
                    <div>
                        <a href="{{ url_for('index') }}">
                            Home
                        </a>
                        <a href="{{ url_for('users.register') }}">
                            Register
                        </a>
                        <a href="{{ url_for('users.login') }}">
                            Login
                        </a>
                        <a
                            href="{{ url_for('portfolio.portfolio') }}">
                            Portfolio
                        </a>
                        <a
                            href="{{ url_for('portfolio.searchstock') }}">
                            Search stock
                        </a>
                        <a href="{{ url_for('users.logout') }}">
                            Log out
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>

</section>
</body>

</html>