{% extends "base.html" %}

{% block content %}

     <h1 class="main_header">How it works</h1>

    <h1>Every user starts with $10,000 in their portfolio.</h1>

    <h1>By using the stock search a user can enter a ticker symbol and then purchase any amount of that stock.</h1>

    <h1>Profit and loss is tracked in the 'Portfolio' page where you can also sell your stocks and view your current cash holdings.</h1>

    <footer>
    <p class="footer-text">Need help finding your ticker symbol? Find it here <br>
        <a href="https://uk.finance.yahoo.com/">Yahoo Finance</a>

    </p>
    </footer>

{% endblock %}