{% extends "base.html" %}

{% block content %}

<h1>Login Page</h1>
    <div>

    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div>
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}


    <form method="POST">
                {{ form.csrf_token() }}
                <div>
                    {{ form.email(class="input", placeholder="Email") }}
                </div>
                {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                    <br>
                <div>
                    {{ form.password(class="input", placeholder="Password") }}
                </div>
                {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                    <br>
                <div>
                    {{ form.submit(class="button") }}
                </div>
            </form>
    </div>

{% endblock %}