{% extends "base.html" %}

{% block content %}

<h1 class="main_header">{{ name }}'s Portfolio</h1>

    <div>

    <h2>Your current cash holdings: ${{ "{:.2f}".format(money) }}</h2>

    <h2>Total asset worth: ${{ "{:.2f}".format(totalassets) }}</h2>


    </div>

    <div>
<h2>Your transactions:</h2>
    </div>

    <div>

    {% for i in transactions %}
        <form method="POST">
                {{ form.csrf_token() }}
            <h2>Transaction ID {{ i.stock_id }}</h2>
    <p>{{ i.amount }} shares of {{ i.stock_name }} at the price of {{ i.current_price }} with a profit of ${{ "{:.2f}".format(i.profit_loss) }}

    <div>
    {{ form.amount(class="input", placeholder="Enter amount") }}
            {% for error in form.amount.errors %}
                            {{ error }}
                        {% endfor %}
    </div>
        <br>
            <input value = {{ i.stock_id }} type="hidden" name="stockid">

        <div>
                    {{ form.sell(class="button") }}
                </div>

    </p>
        </form>
    {% endfor %}


</div>


{% endblock %}